@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

body {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;

}

.rootHeader {
    padding-left: 24px;
    padding-top: 30px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
    z-index: 950;
}

.rootHeader span {
    color: #b3b3b3;
}

#main {
    margin: 40px;
    padding-top: 40px;
    float: right;
}

section {
    height: 270px;
    width: 720px;
}

#section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.albuns {
    width: 320px;
    height: 64px;
    background-color: #212121;
    margin: 10px;
    font-size: 24px;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 6px;
}

.albuns:hover {
    background-color: #252525;
}

.albumCover {
    height: 64px;
    width: 64px;
    background-color: black;
    float: left;
}

.albumCover img {
    height: 64px;
    width: 64px;
}

.mix img {
    height: 130px;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.albumTitle {
    padding-top: 18px;
    padding-left: 0;
    width: 240px;
    float: right;
    text-align: left;
}

img {
    border-radius: 6px;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1:hover {
    text-decoration: underline;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding: 1px;
    text-decoration: none;
    color: white;
}

.mix .play {
    position: relative;
}

.mix .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    color: black;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.mix:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

#soundControllers {
    padding-right: 50px;
}

#soundControllers button {
    background-color: #1a1a1a;
    border: none;
    padding-top: 18px;
}

#soundControllers button span {
    color: #b3b3b3;
}

#footerLeft {
    display: inline-flex;
}

#footerLeft button {
    background-color: #1a1a1a;
    border: none;
}

#footerLeft button span {
    color: #b3b3b3;
    padding-left: 10px;
}

.footerMid {
    padding-bottom: 8px;
    padding-left: 75px;
}


#volume {
    width: 140px;
    padding-top: 15px;
    float: right;
    margin-bottom: 5px;
}


hr {
    margin: 20px 0px 0px;
    border-color: #636363;
}

.nav ul li .fa {
    color: #b3b3b3;
    padding-bottom: 10px;
}

.navRoot a {
    color: #b3b3b3;
}

.navRoot ul li div {
    padding-bottom: 10px;
    color: #b3b3b3;
}

.footerRoot {
    margin-top: auto 0;
    margin-bottom: auto 0;
    width: 100%;
    height: 10%;
    bottom: 0;
    position: fixed;
    background-color: #1a1a1a;
    padding: 10px;
    margin: 0 auto;
    outline: thin solid gray;
    display: inline-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

}

.footerRoot img {
    height: 60px;
    padding-right: 15px;
    padding-top: 13px;
}

.footerRoot ul {
    padding: 4px 0px;
}

.footerRoot li {
    padding-bottom: 5px;
}

.footerRoot a {
    font-size: small;
}

.footerRoot a:hover {
    text-decoration: underline;
    color: white;
}

.navRoot {
    background-color: #000000;
    padding: 12px;
    left: 0;
    bottom: 0;
    width: 14.5%;
    position: fixed;
    top: 0;
    padding-left: 0px;
}

.navRoot img {
    width: 150px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}


.navRoot ul li {
    padding-bottom: 5px;
}

li {
    list-style-type: none;
    text-align: left;

}

.backButton {

    margin-left: 190px;
    ;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    top: 0;
}

.btnTop {
    background-color: #212121;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
}


.userOptions {
    padding-left: 550px;
    margin-left: 180px;
}

.userOptions img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding-right: 15px;
}

#picUser {
    background-color: #212121;
    width: 180px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

#picUser span {
    color: white;
    font-size: large;
}

#picUser .fa {
    color: white;
    padding-bottom: 5px;
    padding-left: 8px;
}


.btn {
    width: 32px;
    height: 32px;
    background-color: #1a1a1a;
    border: none;
    color: #b3b3b3;

}

#playbackBar input {
    width: 330px;
}

.mix {
    padding: 20px 27.5px;
    background-color: #212121;
    margin: 10px;
    font-size: 18px;
    color: white;
    text-align: bottom;
    border-radius: 6px;
}

.mix:hover {
    background-color: #252525;
}